{%extends "base.html"%}
{%block content%}
<br>
<div style="font-size:24px"class="text-block">
    <p>Hola, soy Ulises, tengo 14 años. Desde chico mi papá y mi mamá me enseñaron todo lo básico sobre la computadora y ahora puedo considerarlo como mi actividad favorita. Me interesé en el curso para poder estar un poco más preparado para mi futuro y para hacer algo diferente en el ámbito en el que estoy regularmente, que es el de la computación. Esta es mi primera experiencia en un curso online y también la primera vez que interactúe con el mundo de la programación. 
        Esta página la hice basada en Minecraft ya que es uno de mis juegos favoritos, y la idea es que la gente pueda compartir su progreso en el juego mediante las entradas de blog, y que la gente pueda darles like.
    </p>
</div>        
{%endblock%}